body{
    background-color:#414141;
    /* background-color: white; */
}
button{
    outline: none;
    border: none;
}
.layoutTop{
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(80px, auto);
}
.btn-close{
    border-radius: 15%;
    background-size: 5%;
    grid-column: 1;
}

.btn-close-win{
    border-radius: 15%;
    background-size: 5%;
    grid-column: 3;
}

.btn-mute{
    border-radius: 15%;
    background-size: 5%;
    grid-column: 5;
}


.layoutMid{
    display: grid;
    padding: 3%;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
}

.btn-pause{
    grid-column: 2;
    grid-row: 2;
}

.btn-volup{
    grid-column: 2;
    grid-row: 1;
}
.btn-back{
    grid-column: 1;
    grid-row: 2;
}

.btn-next{
    grid-column: 3;
    grid-row: 2;
}
.btn-voldown{
    grid-column: 2;
    grid-row: 3;
}

.layoutBot {
    display: grid;
    padding: 5%;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(70px, auto);
}

.effect {
    border-radius: 1%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 0.2), inset 0px 0px 4px white;
    transition: box-shadow 400ms ease-in-out;
}

.layoutExtra {
    display: grid;
    padding: 5%;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(70px, auto);
    
}
@media(hover:hover) and (pointer:fine){
    .effect:hover {
      opacity: 0.5;
  
    cursor: pointer;
    box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15),
      -7px -7px 20px rgba(255, 255, 255, 0.2), 0px 0px 4px white;
  }
}